<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <custom-skeleton-card3 [list]="list" *ngIf="isLoading"></custom-skeleton-card3>
  <custom-card3 [list]="list" *ngIf="!isLoading"></custom-card3>
</ion-content>
