<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mis Citas</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<div>
    <div class="header-calendario">
     <div>
        <ion-button (click)="changeMonth(-1)" class="btn-prev" size="small" color="secondary"> < </ion-button>
     </div>
        <h1 class="text-center">{{dateSelect |  date:'MMMM, yyyy'}}</h1>
      <div>
        <ion-button (click)="changeMonth(1)" class="btn-prev" size="small" color="secondary"> > </ion-button>
      </div> 
    </div> 
      <ol>
        <li *ngFor="let day of semana" class="day-name">{{day | slice:0:3}}</li>
        <li (click)="clickDay(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
        *ngFor="let day of monthSelect;let first = first">
        <span>{{day?.value}}</span>
      </li>
      <p>{{citas.nombre}}</p>

      </ol>


</div>

</ion-card>
<!--
<ion-content>
  <mbsc-datepicker [controls]="['calendar']" display="inline" calendarType="week" [weeks]="1"></mbsc-datepicker>
</ion-content>
-->
<!--
<ion-card *ngIf="citas">
  <div *ngFor="let day of semana">
    <div *ngIf="clickDay(day)" >

      <ion-item >
        <ion-label >
          <h2>Nombre: </h2>
          <p>{{citas.nombre}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label >
          <h2>Club: </h2>
          <p>{{citas.tecnico}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Tipo de Actividad: </h2>
          <p>{{citas.tipoActividad}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Lugar: </h2>
          <p>{{citas.lugar}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Duracion: </h2>
          <p>{{citas.duracion}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Nivel: </h2>
          <p>{{citas.nivel}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Hora: </h2>
          <p>{{citas.hora}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Cupo actual: </h2>
          <p>{{citas.cupo_actual}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Cupo maximo: </h2>
          <p>{{citas.cupo_maximo}}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2> Horario: </h2>
          <p>{{citas.rango}}</p>
        </ion-label>
      </ion-item>

      <ion-item >
        <ion-label>
          <h2>Disponible: </h2>
          <p>{{citas.disponible}}</p>
        </ion-label>
      </ion-item> 
    </div>
    </div>
</ion-card> -->


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="secondary" (click)="goTop()"> <!--[ngClass]="isEnd?'fade-in-right':'fade-out-right'" (click)="goTop()"-->
      <ion-icon name="arrow-up"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
