div{
    text-align: center;
    //width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);  // es 1fr 
    margin: 1;
    padding: 0;
}

li{
    font-size: 2.5ch;
}

h2{
    margin-bottom: 4px;
    padding: 0;
}

.first-day{
    grid-column-start: var( --first-day-start,0);
}

.day-name{
    background: #0ad8f0;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
}

.header-calendario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header-calendario h1{
    width: 100px;
    font-size: 13px;
}
 .header-calendario button{
     border:0;
 }

 .text-center{
    display: flex; justify-content: center;
  }