
<ion-content fullscreen>
  <div class="main-content">
      <!--<ion-header>
          <ion-toolbar> 
              <ion-buttons slot="start">
                  <ion-menu-button></ion-menu-button>
              </ion-buttons>
              <ion-title></ion-title>
          </ion-toolbar>
      </ion-header>
      <app-custom-login> </app-custom-login> -->

      <ion-row>
        <ion-col size="12" size-md="8" class="ion-text-center">
            <img class="" src="assets/images/traininghousew.png"/> <!-- se omitio la class=logo slide-top-->
        </ion-col>
      </ion-row>
      <ion-row class="slide3">
        
        <ion-col size="12" size-md="8">
          <form #f="ngForm">
              <ion-card class="transparent">
                  <ion-item lines="none" class="slide1">
                      <ion-icon name="person-circle-outline" color="light"></ion-icon>
                      <ion-input required type="text" name="nombreUsuario"[(ngModel)]="nombreUsuario"></ion-input>
                  </ion-item>
                
                  <ion-item lines="none" class="slide2">
                      <ion-icon name="lock-closed" color="light"></ion-icon>
                      <ion-input required type="password" name="password"[(ngModel)]="password"></ion-input>
                  </ion-item>
              </ion-card>
          </form>
      </ion-col>
    </ion-row>

    <ion-row class="slide3">
      <ion-col size="12" size-md="8">
        <ion-button expand="block" color="secondary" [disabled]="!f.valid" (click)="onLogin()">
          Iniciar
        </ion-button>
      </ion-col>
    </ion-row>
    <app-custom-login>
        
    </app-custom-login>
</div>
</ion-content>