<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
      <ion-content >
          <div class="profile" >
              <ion-avatar>
                  <img src=" "> <!--imagen de perfil del suaurio-->
              </ion-avatar> 
              <div *ngIf="cliente" >
                <h6>{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</h6> <!--nombre del usuario-->
              </div>
          </div>
          <custom-side-menu [menuList]="pageList"></custom-side-menu>
      </ion-content>
  </ion-menu>
  <ion-menu side="end" menuId="custom" disabled="true" type="overlay" contentId="main-content"
            class="my-custom-menu">
      <ion-content>
          <app-custom-side-right></app-custom-side-right>
      </ion-content>
  </ion-menu>
  <ion-menu side="end" menuId="search" disabled="true" type="overlay" contentId="main-content"
            class="my-custom-menu">
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
