<ion-grid>
  <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let item of list">
          <ion-card class="ion-no-margin">
              <custom-skeleton-img></custom-skeleton-img>
              <ion-card-content>
                  <h4>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </h4>
                  <span><ion-skeleton-text animated style="width: 20%"></ion-skeleton-text></span>
                  <p>
                      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                  </p>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </ion-card-content>
          </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>
