<ion-grid>
  <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let item of list">
          <ion-card class="ion-no-margin">
              <img [src]="item.img">
              <ion-card-content>
                  <h4>{{item.title}}</h4>
                  <ion-icon name="calendar" color="medium"></ion-icon>
                  <span>{{item.date}}</span>
                  <!-- <p>{{item.content}}</p> -->
                  <!-- <p></p> -->
                  <div *ngIf="item.usado === true">
                    <ion-button color="danger" size="small">No disponible</ion-button>
                  </div>
                  <div *ngIf="item.usado === false">
                    <ion-button color="success" size="small">Disponible</ion-button>
                  </div>
              </ion-card-content>
          </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>
