<ion-segment [(ngModel)]="selectType" color="secondary">
  <ion-segment-button value="SOCIAL">
      <ion-label>REDES</ion-label>
  </ion-segment-button>
  <ion-segment-button value="CHAT">
      <ion-label>ANUNCIOS</ion-label>
  </ion-segment-button>
</ion-segment>


<ng-container [ngSwitch]="selectType">
  <ng-template [ngSwitchCase]="'SOCIAL'">
      <ion-row>
          <ion-col size="12" *ngFor="let item of sList">
              <ion-item lines="none" class="transparent">
                  <ion-icon [name]="item.icon" slot="start" color="secondary" size="large"></ion-icon>
                  <ion-label class="ion-padding-start">
                      <h5>{{item.name}}</h5>
                      <p class="ion-text-wrap">{{item.content}}</p>
                  </ion-label>
              </ion-item>
          </ion-col>
      </ion-row>
  </ng-template>
  <ng-template [ngSwitchCase]="'CHAT'">
      <ion-row>
          <ion-col size="12" *ngFor="let item of chatList">
              <ion-item lines="none" class="transparent">
                  <ion-avatar>
                      <img [src]="item.img">
                      <!-- <span class="dot"></span> -->
                  </ion-avatar>
                  <ion-label class="ion-padding-start">
                      <h5>{{item.name}}</h5>
                      <p>{{item.content}}</p>
                      <p class="small">{{item.status}}</p>
                  </ion-label>
              </ion-item>
          </ion-col>
      </ion-row>
  </ng-template>
</ng-container>
