<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>


<!--<app-custom-news [title]="'Infinite Scroll List'" (onSearch)="onSearch($event)"></app-custom-news> -->

<ion-content>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"></ion-infinite-scroll>
  <ion-grid>
    <ion-col size="12" size-md="6" *ngFor="let noticia of noticias | ObjToArray">
      <ion-card class="ion-no-padding ion-no-margin">
        <!--<iframe [src]=" "></iframe> -->
        {{noticia.images}}
        
          <!--<p class="e2e-inner-html-interpolated">{{htmlSnippet}}</p>
          <p>Result of binding to innerHTML:</p>
          <p class="e2e-inner-html-bound" [innerHTML]="htmlSnippet"></p> -->

       <ion-card-header>
          <ion-card-title>
            <h4>{{noticia.title}} </h4>
          </ion-card-title>


          <ion-icon name="calendar" color="medium"></ion-icon>
          <span>  {{noticia.publish_up}}</span>
          
          <!--<ion-card-subtitle> 
            <h5 class="ion-text-wrap">Creado: {{noticia.publish_up}} </h5>
          </ion-card-subtitle>-->
        </ion-card-header>

        <ion-card-content>
          <h5 class="e2e-inner-html-bound" [innerHTML]="noticia.introtext"></h5> 
          <!--<h5 class="e2e-inner-html-bound" [innerHTML]="noticia.fulltext"></h5> -->
          <!--<h5 class="ion-text-wrap">{{noticia.introtext}} </h5> -->
        </ion-card-content>

    </ion-card>
    </ion-col>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary" (click)="goTop()"> <!--[ngClass]="isEnd?'fade-in-right':'fade-out-right'" (click)="goTop()"-->
        <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
 
  <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
  </ion-infinite-scroll-content>
  
<!--<app-custom-news [list]="list"></app-custom-news> -->
</ion-content>