<ion-header>
  <ion-toolbar color ="primary">
<ion-buttons slot="start">
    <ion-back-button defaulthref="/"></ion-back-button>
  </ion-buttons>
    <ion-title> Estado de cuenta</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content > 

  <ion-card class="disen">
    <ion-card-header>
      <ion-card-title color="primary">
        <h4 class="ion-text-center"> SALDO TOTAL: ${{total}} </h4>
      </ion-card-title>
    </ion-card-header>
</ion-card>

  <ion-card *ngFor="let movimiento of movimientos">

    <ion-item>
      <ion-label>
        <h2>Categoria: </h2>
        <p>{{movimiento.concepto}}</p>
      </ion-label>
    </ion-item>
  
    <ion-item color="success">
      <ion-label >
        <h2>Saldo:</h2>
        <p>{{movimiento.saldo}} </p>
      </ion-label>
    </ion-item>

    <ion-item color="danger">
      <ion-label>
        <h2>Debito:</h2>
        <p>{{movimiento.debito}}</p>
      </ion-label>
    </ion-item>
  
  </ion-card>

</ion-content>