.disen{
    background: #0AD8F0!important;
    margin: 0 !important;
    width: 100%;
    align-items: center;
    color: black;
    height: 15%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
