<ion-grid class="ion-no-padding">
    <ion-row class="header">
        <ion-avatar>
            <img [src]="user.img"> <!--Aqui se manda a llamar la imagen -->
        </ion-avatar> 
    </ion-row> 
    <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <div *ngIf="cliente">
            <ion-card class="ion-no-margin ion-text-center transparent" >
                <h4 class="ion-padding-top">{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</h4>
                <ion-item lines="none" class="transparent ion-text-center">
                    <ion-label>
                        <h5>Membresía</h5>  
                       <p>{{cliente.tipoMembresia.nombre}}</p>  <!-- se adjunta clientetipo - membresia del cliente de la tabla usuarios -->
                    </ion-label>
                    <ion-label>
                        <h5>Estatus</h5>
                        <p>{{cliente.estatusCliente.nombre}}</p> <!-- se adjunta estatus-cobranza del cliente de la tabla usuarios-->
                    </ion-label>
                    <ion-label>
                        <h5>Club</h5>
                        <p>{{cliente.club.nombre}}</p> <!-- se adjunta nivel del cliente de la tabla usuarios -->
                    </ion-label>      
          </ion-item>
      </ion-card> 
      </div>
          <ion-list class="ion-no-margin ion-text-center transparent" >
              <br>
                <ion-item button (click)="EstadodeCuenta();" lines="none">
                    <ion-icon slot="start" name="wallet-outline" color="secondary"></ion-icon>
                    <ion-label> <p> Estado de cuenta</p></ion-label>
                    <ion-icon slot="end" name="chevron-forward" color="secondary" size="small"></ion-icon>
                  </ion-item> 
              
                  <ion-item button lines="none">
                      <ion-icon slot="start" name="notifications-outline" color="secondary"></ion-icon>
                      <ion-label> <p>Notificaciones</p></ion-label>
                      <ion-icon slot="end" name="chevron-forward" color="secondary" size="small"></ion-icon>
                  </ion-item> 
  
                  <!--Se quito del menu del perfil el boton que mandaba a pagos ya que se encontraba en el menu lateral-->
                 <!-- <ion-item button lines="none">
                      <ion-icon slot="start" name="card" color="secondary"></ion-icon>
                      <ion-label> <p>Pagos</p></ion-label>
                      <ion-icon slot="end" name="chevron-forward" color="secondary" size="small"></ion-icon>
                  </ion-item> -->
                  <!--<ion-item button (click)="ObtenerCitas();" lines="none">
                      <ion-icon slot="start" name="calendar-outline" color="secondary"></ion-icon>
                      <ion-label> <p>Mis citas</p></ion-label>
                      <ion-icon slot="end" name="chevron-forward" color="secondary" size="small"></ion-icon>
                  </ion-item> -->
  
                  <ion-item button lines="none">
                      <ion-icon slot="start" name="bag-check-outline" color="secondary"></ion-icon>
                      <ion-label> <p>Compras</p></ion-label>
                      <ion-icon slot="end" name="chevron-forward" color="secondary" size="small"></ion-icon>
                  </ion-item> 
  
                  <ion-item button lines="none">
                      <ion-icon slot="start" name="heart-outline" color="secondary"></ion-icon>
                      <ion-label> <p>Favoritos</p></ion-label>
                      <ion-icon slot="end" name="chevron-forward" color="secondary" size="small"></ion-icon>
                  </ion-item> 
  
                  <ion-item button (click)="MisDatos()" lines="none">
                      <ion-icon slot="start" name="person-outline" color="secondary"></ion-icon>
                      <ion-label> <p>Mis datos</p></ion-label>
                      <ion-icon slot="end" name="chevron-forward" color="secondary" size="small"></ion-icon>
                  </ion-item> 
  
                  <ion-item button (click)="logOut()" lines="none">
                      <ion-icon slot="start" name="exit-outline" color="secondary"></ion-icon>
                      <ion-label> <p>Salir</p></ion-label>
                      <ion-icon slot="end" name="chevron-forward" color="secondary" size="small"></ion-icon>
                  </ion-item> 
              </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>
  
