<!--<ion-grid>
  <ion-row>
      <ion-col size="12" size-md="8" class="ion-text-center">
          <img class="logo slide-top" src="assets/images/traininghousew.png"/>
      </ion-col>
      <ion-col size="12" size-md="8">
          <form [formGroup]="lForm">
              <ion-card class="transparent">
                  <ion-item lines="none" class="slide1">
                      <ion-icon name="person-circle-outline" color="light"></ion-icon>
                      <ion-input required type="text" name="nombreUsuario"></ion-input>
                  </ion-item>
                  <ion-text class="ion-text-center ion-padding-start" color="danger"
                            *ngIf="!lForm.controls.idUsuario.valid  && lForm.controls.idUsuario.dirty">
                      Por favor, ingrese un ID de usuario valido
                  </ion-text>
                  <ion-item lines="none" class="slide2">
                      <ion-icon name="lock-closed" color="light"></ion-icon>
                      <ion-input formControlName="pwd" type="password"></ion-input>
                  </ion-item>
                  <ion-text class="ion-text-center ion-padding-start" color="danger"
                            *ngIf="!lForm.controls.pwd.valid  && lForm.controls.pwd.dirty">
                      La longitud de la contraseña es incorrecta
                  </ion-text>
              </ion-card>
          </form>
      </ion-col>
  </ion-row> 
  <ion-row class="slide3">
      <ion-col size="12" size-md="8">
          <ion-button expand="block" color="secondary" [disabled]="!lForm.valid" (click)="login()">Iniciar
          </ion-button>
      </ion-col>
  </ion-row>-->
  <ion-row>
    <ion-col size="12" size-md="8" class="ion-text-center">
        <ion-button fill="clear" *ngFor="let item of logoList;let i=index" [className]="animationClass"
                    [ngStyle]="{'animation-delay':(i + 1) * 0.2+'s'}">
            <ion-icon slot="icon-only" [name]="item" color="light" size="large"></ion-icon>
        </ion-button>
    </ion-col>
</ion-row>