:host {
  ion-thumbnail {
    width: 135px;
    height: 100%;
  }

  .movie {
    display: flex;
    position: relative;
  }

  .play_button {
    position: absolute;
    width: 75px;
    height: 50px;
    background: red;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .play_icon {
      width: 32px;
      height: 32px;
      border-left: 32px solid white;
      border-bottom: 16px solid transparent;
      border-top: 16px solid transparent;
      margin-left: 24px;
      margin-top: 9px;
    }
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

}
